.error-msg {
  color: #ff2a00;
  display: block;
  font-size: 1.0em;
  margin: 4px 0 -10px;
}
hr {
  border-color: transparent;
}
.cap:first-letter {
    text-transform: uppercase;
}
.alt {
	background-color:#ccc;
}