<hr>
<div class="row">
<table class="table-responsive">
    <thead>
    <tr>
        <th class="col-xs-2">ID</th>
        <th class="col-xs-2">USER NAME</th>
        <th class="col-xs-2">FIRST NAME</th>
        <th class="col-xs-2">LAST NAME</th>
        <th class="col-xs-2">ROLE</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in userList" ng-class-odd="'alt'">
        <td class="col-xs-2 cap">{{user.id}}</td>
        <td class="col-xs-2 cap">{{user.userName}}</td>
        <td class="col-xs-2 strong">{{user.firstName}}</td>
        <td class="col-xs-2">{{user.lastName}}</td>
        <td class="col-xs-2">{{user.role}}</td>
        <td><a class="btn btn-small btn-primary">edit</a></td>
        <td><a class="btn btn-small btn-danger">delete</a></td>
    </tr>
    </tbody>
</table>
    <a ng-click="createNewUser()" class="btn btn-small">create new user</a>
</div>
</hr>